.catalog__container {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__list-item {
  padding-left: 20px;
  padding-right: 20px;
}

.product__wrapper {
  margin-top: 20px;
  margin-bottom: 17px;
  display: flex;
  text-align: center;
}

.product__img {
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__link-img {
  text-align: center;
}

.product__description {
  width: 140px;
}

.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
}

.product__title-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 14px;
}

.product__table {
  font-family: "Lato", sans-serif;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  width: 100%;
}

.product__table-title {
  text-align: left;
  width: 96px;
  padding: 0;
}

.product__table-value {
  text-align: right;
  padding: 0;
}

.product__button-wrapper {
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}

.product__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.product__wrapper-more {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product__more-title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}

.product__more-text {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
  font-family: "Lato", sans-serif;
  margin: 0;
  margin-bottom: 21px;
}

.product__more-add {
  color: #d3d3d3;
  margin: 25px auto 23px;
}

.product__button-more {
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}

.product__button-more-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  text-decoration: none;
}
