.catalog-additional__container {
  .container;
  position: relative;
}

.catalog-additional {
  overflow: hidden;
}

.catalog-additional__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  background-color: @white;
  width: 245px;
}

.catalog-additional__title::before {
  content: "";
  z-index: -1;
  width: 200%;
  height: 3px;
  position: absolute;
  top: 14px;
  left: 24px;
  background-color: #68b738;
}

.catalog-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.catalog-additional__gift {
  width: 280px;
  height: 290px;
  background-image: url("../img/gift_mobile.png");
  background-size: cover;
  text-decoration: none;
  color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift_mobile@2x.png");
  }
}

.catalog-additional__gift::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: @basic-green;
  opacity: 0.8;
  top: 0;
  z-index: -1;
}

.catalog-additional__gift-svg {
  color: @white;
  margin-top: 59px;
  margin-bottom: 48px;
}

.catalog-additional__gift-text {
  width: 161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  font-family: @second-family;
}

@media (min-width: @tablet-width) {
  .catalog-additional__container {
    margin-bottom: 75px;
    font-size: 36px;
    padding-top: 0;
  }

  .catalog-additional__list {
    margin-bottom: 70px;
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
  }

  .catalog-additional__container::before {
    top: 20px;
    right: -30px;
    width: 110%;
  }

  .catalog-additional__title {
    font-size: 36px;
    margin-bottom: 78px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    width: 339px;
  }


  .catalog-additional__gift {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/gift_tablet.png");
    flex-direction: row;
    padding-bottom: 12px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift_tablet@2x.png");
    }
  }

  .catalog-additional__gift-svg {
    padding-left: 79px;
    margin-right: 265px;
  }

  .catalog-additional__gift-text {
    text-align: left;
    padding-top: 14px;
  }

  .catalog-additional__title::before {
    top: 22px;
    width: 300%;
    left: -100%;
  }
}


@media (min-width: @desktop-width) {
  .catalog-additional {
    padding-bottom: 53px;
  }

  .catalog-additional__title {
    margin-left: -40px;
  }

  .catalog-additional__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .catalog-additional__list {
    margin-right: 80px;
    flex-grow: 1;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .catalog-additional__gift {
    width: 245px;
    height: 288px;
    padding-bottom: 0;
    background-size: cover;
    background-image: url("../img/gift_desktop.png");
    flex-direction: column;
    justify-content: normal;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift_desktop@2x.png");
    }
  }

  .catalog-additional__gift-svg {
    position: relative;
    left: 94px;
  }

  .catalog-additional__gift-text {
    text-align: center;
    padding-top: 0;
  }
}
