.catalog {
  padding-bottom: 29px;
}

.catalog__container {
  .container;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__list-item:not(:last-child) {
  padding-bottom: 29px;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: @black;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-bottom: 70px;
  }

  .catalog__title {
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 84px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }

  .catalog__list-item {
    width: 45.75%;
    min-height: 511px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    margin-left: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-bottom: 76px;
  }

  .catalog__list {
    gap: 80px;
  }

  .catalog__list-item {
    width: 20%;
  }
}
