.catalog-contacts {
  background-color: @basic-grey;
}

.catalog-contacts__container {
  .container;
  padding: 26px 20px;
}

.catalog-contacts__info {
  display: flex;
  justify-content: space-between;
}

.catalog-contacts__info-adress {
  width: 140px;
}

.catalog-contacts__info-title {
  font-style: @second-family;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black-2;
  box-sizing: border-box;
}

.catalog-contacts__info-text {
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: @special-dark-grey;
  margin: 0;
}

.catalog-contacts__info-street,
.catalog-contacts__info-city {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  font-family: @second-family;
}

@media (min-width: @tablet-width) {
  .catalog-contacts {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  .catalog-contacts__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    height: 80px;
  }

  .catalog-contacts__info-street {
    margin-bottom: 19px;
    width: 180px;
  }

  .catalog-contacts__info {
    padding: 60px 40px;
  }

  .catalog-contacts__info-city,
  .catalog-contacts__info-street,
  .catalog-contacts__info-text {
    font-size: 16px;
    line-height: 125%;
  }

  .catalog-contacts__info-text {
    text-align: right;
  }

  .catalog-contacts__info-adress {
    height: 80px;
    width: 180px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .catalog-contacts__container {
    position: relative;
    margin: 0 auto;
  }

  .catalog-contacts__info {
    position: absolute;
    z-index: 1;
    top: 95px;
    width: 570px;
    background-color: @white;
    padding: 60px 80px;
    box-sizing: border-box;
  }

  .catalog-contacts__info-adress {
    width: 161px;
    text-align: left;
  }

  .catalog-contacts__info-text {
    text-align: left;
  }
}

