.catalog-contacts {
  background-color: @basic-grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-contacts__container {
  .container;
}

.catalog-contacts__info {
  display: flex;
  justify-content: space-between;
}

.catalog-contacts__info-title {
  font-style: @second-family;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding: 0 5px;
  box-sizing: border-box;
}

.catalog-contacts__info-text {
  margin: 0;
}

@media (min-width: 768px) {
  .catalog-contacts {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .catalog-contacts__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
  }

  .catalog-contacts__info-text {
    font-size: 16px;
    line-height: 125%;
  }
}
