.catalog-additional {
  width: 320px;
  margin: 0 auto;
}

.catalog-additional__container {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-additional__title {
  padding-top: 25px;
  padding-bottom: 36px;
  margin: 0;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
}

.catalog-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.catalog-additional__gift {
  height: 290px;
}

.catalog-additional__gift-img {
  width: 280px;
  height: 290px;
  background-image: url("/img/gift-img.png");
  background-size: 100%;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-additional__gift-svg {
  color: #ffffff;
  margin-top: 59px;
  margin-bottom: 48px;
}

.catalog-additional__gift-img-text {
  width: 161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}
