.contacts__container {
  .container;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts__info-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black-2;
  padding: 0 5px;
  box-sizing: border-box;
}

.contacts__info-text {
  margin: 0;
  font-family: @second-family;
}
