.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.example__title {
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result-item {
  display: flex;
  position: relative;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin-bottom: 34px;
}

.example__result-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: auto;
}

.example__result-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 90px;
  background-color: #eaeaea;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}

.example__price {
  font-weight: 400;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.example__slider {
  width: 280px;
  height: 256px;
}
