.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__container {
  .container;
}

.example__title {
  font-size: 36px;
  line-height: 111%;
  text-align: left;
  color: @black;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
}

.example__text {
  font-family: @second-family;
  font-size: 14px;
  line-height: 129%;
  color: @special-dark-grey;
  margin: 0;
  margin-bottom: 20px;
}

.example__result-stats {
  display: flex;
  gap: 32px;
}

.example__result-item {
  display: flex;
  position: relative;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid @special-grey;
  border-radius: 5px;
  margin-bottom: 34px;
}

.example__result-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black-2;
  margin: auto;
}

.example__result-text {
  font-family: @second-family;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 90px;
  background-color: #eaeaea;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}

.example__price {
  font-weight: 400;
  line-height: 143%;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 20px;
  text-align: center;
}

.example__slider {
  width: 280px;
  height: 256px;
}

.example__slider-image {
  width: 280px;
  height: 256px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
    padding-top: 45px;
    position: relative;
  }

  .example__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 60px;
    text-align: left;
  }

  .example__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 55px;
  }

  .example__result-item {
    width: 162px;
  }

  .example__result-stats {
    display: flex;
    gap: 43px;
    margin-right: auto;
  }

  .example__result-title {
    font-size: 30px;
    line-height: 123%;
  }

  .example__result-text {
    background-color: @white;
    width: 128px;
    bottom: -6px;
  }

  .example__price {
    font-size: 20px;
    line-height: 100%;
    width: 185px;
    text-align: right;
  }

  .example__result {
    margin-bottom: 100px;
    display: flex;
  }

  .example__slider {
    margin: 0 auto;
    width: 560px;
    height: 512px;
  }

  .example__slider-image {
    width: 560px;
    height: 512px;
  }

  .example__container-inner {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: @basic-grey;
  }

  @media (min-width: @desktop-width) {
    .example {
      padding-top: 0;
    }

    .example__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      height: 600px;
    }

    .example__title {
      margin-bottom: 146px;
    }

    .example__text {
      width: 436px;
      margin-bottom: 69px;
    }

    .example__result {
      flex-direction: column;
      margin-bottom: 0;
    }

    .example__result-stats {
      margin-bottom: 55px;
    }

    .example__result-item {
      margin-bottom: 0;
      width: 164px;
      height: 77px;
    }

    .example__result-text {
      background-color: @basic-grey;
    }

    .example__price {
      width: auto;
      text-align: left;
      margin: 0;
    }

    .example__price span {
      margin-left: 63px;
    }
  }
}
