.header--nojs .header__navigation {
  display: block;
}

.header--nojs .header__button {
  visibility: hidden;
}

.header__navigation {
  position: relative;
}

.header__navigation--open {
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__navigation--closed {
  display: none;
}

.header {
  overflow: hidden;
}

.header__container {
  .container;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px;
}

.header__link {
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo {
  width: 33px;
  height: 38px;
}

.header__link-title {
  margin-left: -10px;
}

.header__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__button--closed {
  background-image: url("../img/icons/menu_close.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__button--open {
  background-image: url("../img/icons/menu_open.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-list-item {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
}

.header__navigation-list-item::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: @basic-grey-2;
  bottom: 0;
  left: -100%;
}

.header__navigation-list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: @basic-grey-2;
  top: 0;
  left: -100%;
}


.header__navigation-list-link {
  text-decoration: none;
  color: @black;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: @tablet-width) {
  .header {
    border-bottom: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__top {
    gap: 13px;
    padding: 0;
  }

  .header__link {
    height: auto;
  }

  .header__logo {
    width: 60px;
    height: 50px;
    margin-right: 10px;
  }

  .header__button {
    display: none;
  }

  .header__navigation-list {
    display: flex;
    gap: 33px;
    align-items: center;
    min-width: 440px;
    justify-content: space-between;
  }

  .header__navigation-list-item {
    padding: 0;
    font-size: 18px;
    line-height: 133%;
  }

  .header__navigation-list-item::before {
    display: none;
  }

  .header__navigation-list-item:nth-child(1)::after {
    display: none;
  }

  .header__navigation--closed {
    display: block;
  }

  .header__navigation-list-current {
    border-bottom: 2px solid @basic-green;
    margin-bottom: -8px;
    padding-bottom: 9px;
    padding-top: 1px;
  }
}

@media (min-width: @desktop-width) {
  .header__navigation {
    min-width: 475px;
  }

  .header__navigation-list-item {
    padding-right: 1px;
    padding-left: 0;
  }

  .header__navigation-list-current {
    padding-top: 3px;
  }

  .header__container {
    padding-top: 55px;
    padding-bottom: 29px;
  }

  .header__logo {
    width: 70px;
    height: 59px;
  }

  .header__navigation-list-link {
    font-weight: 400;
    font-size: 20px;
  }

  .header__link-title svg {
    width: 118px;
    height: 21px;
  }

  .header__navagation-index .header__navigation-list-link {
    color: @white;
  }

  .header__navagation-index .header__navigation-list-current {
    border-bottom: 2px solid @white;
  }
}
