.header__container {
  width: 320px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.header__menu {
  width: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-list-item {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
}

.header__navigation-list-link {
  text-decoration: none;
  color: #000000;
}
