.instruction {
  padding-top: 10px;
  padding-bottom: 50px;
}

.instruction__container {
  .container;
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 111%;
  text-align: left;
  font-weight: 400;
  color: @black;
  white-space: nowrap;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instruction__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
}

.instruction__item::before {
  content: "";
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: @basic-green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction__item-text {
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
}

.instruction__item--1 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-1.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.instruction__item--2 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-2.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.instruction__item--3 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-3.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.instruction__item--4 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-4.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 16px;
}


.instruction__item-box {
  width: 60px;
  height: 60px;
  background-color: @basic-green;
  margin-right: 20px;
}

@media (min-width: @tablet-width) {
  .instruction {
    padding-bottom: 47px;
  }

  .instruction__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
    text-align: left;
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: space-between;
    counter-reset: number 0;
  }

  .instruction__item {
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 55px;
    counter-increment: number 1;
    margin-bottom: 0;
  }

  .instruction__item::before {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }

  .instruction__item--1 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }

  .instruction__item--2 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }

  .instruction__item--3 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }

  .instruction__item--4 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }

  .instruction__item::after {
    content: counter(number);
    position: absolute;
    font-family: @main-family;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
    text-align: center;
    color: @basic-grey;
    z-index: -1;
    right: 0;
    bottom: 0;
  }

  .instruction__illustration {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  .instruction__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: auto;
    color: @special-dark-grey;
  }
}

@media (min-width: @desktop-width) {
  .instruction {
    padding-bottom: 69px;
  }

  .instruction__item {
    height: 280px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .instruction__item::before {
    margin-bottom: 31px;
  }

  .instruction__list {
    justify-content: space-between;
    gap: 0;
  }
}
