.instruction {
  padding-top: 10px;
  padding-bottom: 50px;
}

.instruction__container {
  .container;
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: @black;
  white-space: nowrap;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instruction__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.instruction__item-text {
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
}

.instruction__item-box {
  width: 60px;
  height: 60px;
  background-color: @basic-green;
  margin-right: 20px;
}

@media (min-width: @tablet-width) {
  .instruction {
    padding-bottom: 47px;
  }

  .instruction__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
    text-align: left;
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    gap: 37px 153px;
  }

  .instruction__item {
    width: 230px;
  }

  .instruction__item-text {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: @desktop-width) {
  .instruction {
    padding-bottom: 69px;
  }

  .instruction__list {
    justify-content: space-between;
    gap: 0;
  }
}
