.instruction__container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instruction__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.instruction__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
}

.instruction__item-box {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: 20px;
}
