.main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
  margin-top: 0;
}

.main__tagline {
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.main__button {
  display: block;
  padding: 10px 20px;
  width: 280px;
  height: 40px;
  background-color: @basic-green;
  box-sizing: border-box;
  text-decoration: none;
}


.main__button-text {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}
