.product {
  position: relative;
}

.product__wrapper {
  margin-bottom: 17px;
  display: flex;
  text-align: center;
}

.product__img-wraper {
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__img {
  text-align: center;
}

.product__img--small {
  width: 68px;
  height: 78px;
}

.product__img--big {
  width: 84px;
  height: 100px;
}

.product__description {
  width: 142px;
}

.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  text-align: left;
  margin-bottom: 11px;
  width: 99px;
  display: block;
  padding-left: 1px;
}

.product__title-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 14px;
}

.product__table {
  font-family: @second-family;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  width: 100%;
  padding-top: 4px;
  border-spacing: 2px 0;
}

.product__table-title {
  text-align: left;
  width: 96px;
  padding: 0;
}

.product__table-value {
  text-align: right;
  padding: 0;
}

.product__table-line {
  width: 70px;
}

.product__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: @white;
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  .button;
}

.product--more {
  padding-top: 0;
}

.product__wrapper-more {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product__more-title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}

.product__more-text {
  font-size: 12px;
  line-height: 133%;
  color: @special-dark-grey;
  font-family: @second-family;
  margin: 0;
  margin-bottom: 21px;
}

.product__more-add {
  color: #d3d3d3;
  margin: 25px auto 23px;
}

.product__button-more {
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: @basic-grey;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: @basic-grey-2;
  }

  &:active,
  &:focus {
    background-color: @basic-grey-2;
    opacity: 0.8;
  }
}

.product__button-more-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: @special-dark-grey;
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .product__wrapper::after {
    content: "";
    position: absolute;
    width: 324px;
    height: 430px;
    background-color: @basic-grey;
    bottom: 0;
    z-index: -1;
  }

  .product__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .product__img-wraper {
    width: 200px;
    height: 210px;
    margin-bottom: 32px;
    box-sizing: border-box;
    padding-top: 22px;
  }

  .product__img--small {
    width: 161px;
    height: 172px;
  }

  .product__img--big {
    width: 168px;
    height: 206px;
  }

  .product__description {
    width: 100%;
    margin-bottom: 32px;
  }

  .product__title {
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    width: auto;
    padding-left: 0;
  }

  .product__title-link {
    width: 140px;
    display: inline-block;
    margin-bottom: 0;
  }

  .product__table {
    display: table;
    padding: 0 37px;
    font-size: 16px;
    line-height: 125%;
    border-collapse: collapse;
  }

  .product__table-line {
    padding-top: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid @special-grey;
  }

  .product__button {
    width: 100%;
    .button;
  }

  .product--more {
    min-height: auto;
    margin-top: 80px;
    padding-top: 48px;
    padding-bottom: 41px;
    border: 1px solid #e6e6e6;
  }

  .product__more-add {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .product__more-title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 23px;
    padding: 0 40px;
  }

  .product__more-text {
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 82px;
    padding: 0 13px;
  }

  .product__button-more {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .product__img--big {
    width: 172px;
    height: 196px;
  }

  .product__img-wraper {
    margin-bottom: 22px;
  }

  .product__wrapper {
    margin-bottom: 6px;
  }

  .product__wrapper::after {
    width: 245px;
  }

  .product__title-link {
    margin-bottom: 6px;
  }

  .product__table-line {
    padding-bottom: 3px;
  }

  .product--more {
    position: relative;
  }

  .product__more-add {
    margin-bottom: 40px;
  }

  .product__more-title {
    padding: 0;
    margin-bottom: 27px;
  }

  .product__more-text {
    padding: 0;
    margin-bottom: 90px;
  }
}
