.product-additional {
  border-top: 1px solid @special-grey;
  padding-bottom: 19px;
}

.product-additional__title {
  margin: 0;
  padding-top: 13px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.product-additional__table {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  font-family: @second-family;
  width: 280px;
  margin-bottom: 15px;
}

.product-additional__table-title {
  text-align: left;
}

.product-additional__table-value {
  text-align: right;
}

.product-additional__button-wrapper {
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: @basic-green;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-additional__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .product-additional {
    border-bottom: 1px solid #cdcdcd;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 29px 38px;
  }

  .product-additional__button-wrapper {
    width: 100%;
  }

  .product-additional__title {
    font-size: 20px;
    padding-top: 0;
  }

  .product-additional__table-title {
    font-size: 16px;
    line-height: 125%;
  }

  .product-additional__table-value {
    font-size: 16px;
    line-height: 125%;
  }
}
