.program__container {
  width: 320px;
  margin: 0 auto;
}

.program__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.program__list-item {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  min-height: 266px;
}

.program__title {
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

.program__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  padding-bottom: 38px;
}

.program__link {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
