.program {
  padding-bottom: 10px;
}

.program__container {
  .container;
  box-sizing: border-box;
}

.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.program__list-item {
  background-color: #f2f2f2;
  padding: 30px 20px 20px;
  min-height: 266px;
}

.program__list-item:nth-child(1) {
  margin-bottom: 20px;
}

.program__title {
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 29px;
}

.program__text {
  font-size: 14px;
  line-height: 129%;
  color: @special-dark-grey;
  margin: 0;
  margin-bottom: 38px;
}

.program__link {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
