.selection {
  padding-bottom: 32px;
}

.selection__container {
  .container;
}

.selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: @black;
  margin-bottom: 37px;
}

.selection__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: @black;
  margin-top: 0;
  margin-bottom: 39px;
}

.selection__fields {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.selection__fields-form {
  display: flex;
  min-height: 45px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
}

.selection__fields-text {
  margin-right: 13px;
  color: @special-dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
}

.selection__fields-input-text {
  font-family: @main-family;
  flex-grow: 1;
  height: 45px;
  color: @special-dark-grey;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding: 13px;
}

.selection__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection__fields--personal {
  margin-bottom: 24px;
}

.selection__fields--program {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 26px;
}

.selection__fields-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.selection__fields-list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.selection__fields-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: @black;
  margin: 0;
  margin-bottom: 20px;
}

.selection__fields-block {
  display: flex;
  align-items: center;
  position: relative;
}

.selection__fields-icon {
  position: absolute;
  top: 13px;
  right: 12px;
}

.selection__fields--contacts {
  margin-bottom: 24px;
}

.selection__fields-text-area {
  font-family: @main-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding: 14px;
  height: 150px;
  box-sizing: border-box;
}

.selection__fields--comment {
  margin-bottom: 23px;
}

.selection__fields-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.selection__fields--extra {
  margin-bottom: 34px;
}

.selection__fields-button-wrapper {
  margin-bottom: 32px;
}

.selection__fields-button {
  margin-bottom: 21px;
  padding: 6px 15px;
  width: 100%;
  min-height: 40px;
  background-color: @basic-green;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: @white;
  font-family: @main-family;
}

.selection__fields-text-description {
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: @black;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .selection__title {
    margin: 0;
    margin-bottom: 54px;
    font-size: 60px;
    margin-left: 40px;
  }

  .selection__description {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 150%;
    margin-left: 40px;
  }

  .selection__form {
    margin: 0 40px;
  }

  .selection__fields {
    gap: 20px;
  }

  .selection__fields-title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }

  .selection__fields-text {
    font-size: 20px;
  }

  .selection__fields-input-text {
    font-size: 20px;
  }

  .selection__fields--personal {
    margin-bottom: 72px;
  }

  .selection__fields--program {
    border: 1px solid #d9d9d9;
    padding-top: 23px;
    padding-bottom: 27px;
    margin-bottom: 65px;
  }

  .selection__fields--contacts {
    margin-bottom: 65px;
  }

  .selection__fields--comment {
    margin-bottom: 65px;
  }

  .selection__fields--comment .selection__fields-title {
    margin-bottom: 87px;
  }

  .selection__fields-text-area {
    font-size: 20px;
    line-height: 150%;
    height: 175px;
  }

  .selection__fields--extra {
    margin-bottom: 65px;
  }

  .selection__fields-list {
    margin-left: 27px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .selection__fields--program .selection__fields-list {
    flex-direction: column;
  }

  .selection__fields-list-item {
    width: 250px;
  }

  .selection__fields-item-text {
    font-size: 20px;
  }

  .selection__fields-button-wrapper {
    display: flex;
    align-items: center;
  }

  .selection__fields-button {
    width: 284px;
    height: 54px;
    margin-right: 60px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 130%;
  }

  .selection__fields-text-description {
    font-size: 16px;
    line-height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .selection__title {
    margin-bottom: 55px;
    margin-left: 0;
  }

  .selection__description {
    margin-bottom: 66px;
    margin-left: 0;
  }

  .selection__form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 70px;
  }

  .selection__fields--personal {
    margin-bottom: 0;
    width: 570px;
  }

  .selection__fields--program {
    border: 1px solid #d9d9d9;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    width: 568px;
  }

  .selection__fields-input-text {
    height: 52px;
  }

  .selection__fields-list {
    flex-direction: column;
    gap: 13px;
    margin-left: 28px;
  }

  .selection__fields-list-item {
    width: 100%;
  }

  .selection__fields--contacts {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .selection__fields-title {
    width: 100%;
  }

  .selection__fields--contacts .selection__fields-title {
    margin-bottom: 76px;
  }

  .selection__fields-block {
    width: 570px;
  }

  .selection__fields--comment {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .selection__fields--comment .selection__fields-title {
    margin-bottom: 78px;
  }

  .selection__fields-text-area {
    width: 100%;
  }

  .selection__fields--extra {
    margin-bottom: 0;
    width: 100%;
  }

  .selection__fields--extra .selection__fields-title {
    margin-bottom: 57px;
  }

  .selection__fields-list--extra {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .selection__fields-button {
    width: 570px;
  }
}
