.selection {
  padding-bottom: 32px;
}

.selection__container {
  .container;
}

.selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 37px;
}

.selection__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 39px;
}

.selection__fields {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.selection__fields-form {
  display: flex;
  min-height: 45px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
}

.selection__fields-text {
  margin-right: 13px;
  color: @special-dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
}

.selection__fields-input-text {
  font-family: @main-family;
  flex-grow: 1;
  height: 45px;
  color: @special-dark-grey;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding: 13px;
}

.selection__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection__fields--personal {
  padding-bottom: 24px;
}

.selection__fields--program {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 19px;
}

.selection__fields-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.selection__fields-list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.selection__fields-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.selection__fields-block {
  display: flex;
  align-items: center;
  position: relative;
}

.selection__fields-icon {
  position: absolute;
  top: 13px;
  right: 12px;
}

.selection__fields--contacts {
  padding-bottom: 24px;
  padding-top: 26px;
}

.selection__fields-text-area {
  font-family: @main-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding: 14px;
  height: 150px;
  box-sizing: border-box;
}

.selection__fields--comment {
  padding-bottom: 23px;
}

.selection__fields-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.selection__fields-button {
  margin-top: 34px;
  margin-bottom: 21px;
  padding: 6px 15px;
  width: 100%;
  min-height: 40px;
  background-color: @basic-green;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
}

.selection__fields-text-description {
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #000000;
  margin: 0;
}
